In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

% matplotlib inline

In [2]:
df = pd.read_csv('ultimoInstante.txt',header=None,sep=' ')

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,300,-67.37,-0.95,15.0,-71.63,-12.96,0.0,-50.00,-10.00,0.0,-50.00,-10.00,0.0,-70.69,-18.17,-4.25,-4.25,-0.0,-0.00,-0.00
1,300,-50.00,-10.00,0.0,-71.63,-12.96,0.0,-67.37,-0.95,15.0,-50.00,-10.00,0.0,-70.68,-18.18,-4.26,-0.00,-0.0,-4.26,-0.00
2,300,-50.00,-10.00,0.0,-71.63,-12.96,0.0,-50.00,-10.00,0.0,-67.37,-0.95,15.0,-75.07,-14.22,-4.01,-0.00,-0.0,-0.00,-4.01
3,300,-67.37,-0.95,15.0,-50.00,-10.00,0.0,-71.63,-12.96,0.0,-50.00,-10.00,0.0,-70.72,-18.14,-4.25,-4.25,-0.0,-0.00,-0.00
4,300,-50.00,-10.00,0.0,-50.00,-10.00,0.0,-71.63,-12.96,0.0,-67.37,-0.95,15.0,-75.13,-14.16,-4.01,-0.00,-0.0,-0.00,-4.01

In [6]:
sns.scatterplot()

AttributeError: module 'seaborn' has no attribute 'scatterplot'